<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <!-- Task Details Card -->
      <div class="card mb-4">
        <div class="card-header">
          <div class="d-flex justify-content-between align-items-center">
            <h2 class="card-title mb-0">{{ task.name }}</h2>

            <button class="btn btn-primary" [routerLink]="'/tasks/edit/'+taskId">
              Edit
            </button>
          </div>
        </div>
        <div class="card-body">
          <div class="custom_tab_container mb-3">
            <div class="col-sm-2 w-100">
              <div>
                Status:
              </div>
              <div>
                <!-- Dropdown for changing status -->
                <div ngbDropdown class="d-inline-block">
                  <button
                    class="btn btn-light border d-flex align-items-center"
                    id="dropdownStatus"
                    ngbDropdownToggle
                  >
                    <!-- Selected Status Dot -->
                    <div
                      style="width: 10px; height: 10px; border-radius: 50%; margin-right: 8px;"
                      [ngClass]="{
         'bg-success': task.status === 'Open',
            'bg-warning': task.status === 'In Progress',
            'bg-danger': task.status === 'Closed',
            'bg-info': task.status === 'On Hold',
            'bg-primary': task.status === 'To Be Tested',
            'bg-purple': task.status === 'Needs Work'
        }"
                    ></div>
                    {{ task.status }}
                  </button>

                  <!-- Dropdown Menu -->
                  <div ngbDropdownMenu aria-labelledby="dropdownStatus">
                    <button
                      *ngFor="let status of statuses"
                      class="dropdown-item d-flex align-items-center"
                      [class.active]="status === task.status"
                      (click)="changeStatus(task, status)"
                    >
                      <!-- Dot for Each Status -->
                      <div
                        style="width: 10px; height: 10px; border-radius: 50%; margin-right: 8px;"
                        [ngClass]="{
                            'bg-success': status === 'Open',
                            'bg-warning': status === 'In Progress',
                            'bg-danger': status === 'Closed',
                            'bg-info': status === 'On Hold',
                            'bg-primary': status === 'To Be Tested',
                            'bg-purple': status === 'Needs Work'
                          }"
                      ></div>
                      {{ status }}
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-2 w-100">
              <div>
                Priority:
              </div>
              <div>
                <!-- Dropdown for changing status -->
                <div ngbDropdown class="d-inline-block">
                  <button
                    class="btn btn-light border d-flex align-items-center"
                    id="dropdownPriorities"
                    ngbDropdownToggle
                  >
                    <!-- Selected Status Dot -->
                    <div
                      style="width: 10px; height: 10px; border-radius: 50%; margin-right: 8px;"
                      [ngClass]="{
                          'bg-success': task.priority === 'Low',
                              'bg-warning': task.priority === 'Medium',
                              'bg-danger': task.priority === 'High'
                          }"
                    ></div>
                    {{ task.priority }}
                  </button>

                  <!-- Dropdown Menu -->
                  <div ngbDropdownMenu aria-labelledby="dropdownPriorities">
                    <button
                      *ngFor="let priority of priorities"
                      class="dropdown-item d-flex align-items-center"
                      [class.active]="priority === task.priority"
                      (click)="changePriority(task, priority)"
                    >
                      <!-- Dot for Each Status -->
                      <div
                        style="width: 10px; height: 10px; border-radius: 50%; margin-right: 8px;"
                        [ngClass]="{
            'bg-success': priority === 'Low',
            'bg-warning': priority === 'Medium',
            'bg-danger': priority === 'High'
          }"
                      ></div>
                      {{ priority }}
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-2 w-100">
              <div>
                Due Date:
              </div>
              {{ task.dueDate | date }}
            </div>
            <div class="col-sm-2 w-100">
              <div>
                Client:
              </div>
              {{ task.project?.clientName }}
            </div>
            <div class="col-sm-2 w-100">
              <div>
                Project:
              </div>
              {{task.project?.name}}
            </div>
          </div>
          <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
            <li [ngbNavItem]="1">
              <button ngbNavLink>Description</button>
              <ng-template ngbNavContent>
                <h5 class="card-text">{{ task.description }}</h5>
                <small class="text-muted">Created: {{ task.createdAt | date:'medium' }}</small>
              </ng-template>
            </li>
            <li [ngbNavItem]="2">
              <button ngbNavLink>Comments ({{comments.length}})</button>
              <ng-template ngbNavContent>
                <!-- Comments Section -->
                <div class="card">
                  <div class="card-body">
                    <!-- Comments List -->
                    <div class="comments-list">
                      @for (comment of comments; track comment.id) {
                        <div class="d-flex mb-4 pb-3 border-bottom">
                          <div class="flex-shrink-0">
                            <div class="avatar avatar-xs">
                        <span class="avatar-initial rounded-circle bg-light text-dark">
                          {{ comment.author.name[0] }}
                        </span>
                            </div>
                          </div>
                          <div class="flex-grow-1 ms-3">
                            <div class="mb-1">
                              <span class="fw-bold me-2">{{ comment.author.name }}</span>
                              <small class="text-muted">{{ comment.createdAt | date:'short' }}</small>
                            </div>
                            <p class="mb-0">{{ comment.message }}</p>
                            <ul class="list-group">
                              <li
                                class="list-group-item d-flex justify-content-between align-items-center"
                                style="cursor: pointer"
                                *ngFor="let file of comment.files; let i = index"
                              >
                                <a (click)="previewFile(file)" class="file-link">{{ getFileName(file) }}</a>
                              </li>
                            </ul>
                          </div>
                        </div>
                      }
                    </div>
                    <!-- New Comment Form -->
<!--                    <div class="mb-4">-->
<!--                      <form (ngSubmit)="addComment()">-->
<!--&lt;!&ndash;                        <div class="form-group">&ndash;&gt;-->
<!--&lt;!&ndash;          <textarea&ndash;&gt;-->
<!--&lt;!&ndash;            [(ngModel)]="newComment.text"&ndash;&gt;-->
<!--&lt;!&ndash;            name="commentText"&ndash;&gt;-->
<!--&lt;!&ndash;            class="form-control"&ndash;&gt;-->
<!--&lt;!&ndash;            rows="3"&ndash;&gt;-->
<!--&lt;!&ndash;            placeholder="Write your comment here..."&ndash;&gt;-->
<!--&lt;!&ndash;            required&ndash;&gt;-->
<!--&lt;!&ndash;          ></textarea>&ndash;&gt;-->
<!--&lt;!&ndash;                        </div>&ndash;&gt;-->

<!--&lt;!&ndash;                        <div class="form-group mt-3">&ndash;&gt;-->
<!--&lt;!&ndash;                          <label for="commentFile" class="form-label">Attach a file (Optional)</label>&ndash;&gt;-->
<!--&lt;!&ndash;                          <input&ndash;&gt;-->
<!--&lt;!&ndash;                            type="file"&ndash;&gt;-->
<!--&lt;!&ndash;                            class="form-control"&ndash;&gt;-->
<!--&lt;!&ndash;                            id="commentFile"&ndash;&gt;-->
<!--&lt;!&ndash;                            (change)="handleCommentFileUpload($event)"&ndash;&gt;-->
<!--&lt;!&ndash;                          />&ndash;&gt;-->
<!--&lt;!&ndash;                        </div>&ndash;&gt;-->
<!--                        <div class="textarea-container">-->
<!--                          <textarea placeholder="Type your message..." [(ngModel)]="newComment.text"  name="commentText"></textarea>-->
<!--                          <button type="button" (click)="openFileUploadModal()" class="attach-icon">-->
<!--                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns" width="24px" height="24px" viewBox="-8 0 32 32" version="1.1">-->

<!--                              <title>attachment</title>-->
<!--                              <desc>Created with Sketch Beta.</desc>-->
<!--                              <defs>-->

<!--                              </defs>-->
<!--                              <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">-->
<!--                                <g id="Icon-Set-Filled" sketch:type="MSLayerGroup" transform="translate(-214.000000, -153.000000)" fill="#000000">-->
<!--                                  <path d="M228,157 L228,177 C228,180.313 225.313,183 222,183 C218.687,183 216,180.313 216,177 L216,159 C216,156.791 217.791,155 220,155 C222.209,155 224,156.791 224,159 L224,177 C224,178.104 223.104,179 222,179 C220.896,179 220,178.104 220,177 L220,161 L218,161 L218,177 C218,179.209 219.791,181 222,181 C224.209,181 226,179.209 226,177 L226,159 C226,155.687 223.313,153 220,153 C216.687,153 214,155.687 214,159 L214,178 C214.493,181.945 217.921,185 222,185 C226.079,185 229.507,181.945 230,178 L230,157 L228,157" id="attachment" sketch:type="MSShapeGroup">-->

<!--                                  </path>-->
<!--                                </g>-->
<!--                              </g>-->
<!--                            </svg>-->
<!--                          </button>-->
<!--                        </div>-->

<!--                        <div class="text-right mt-3">-->
<!--                          <button type="submit" class="btn btn-primary" [disabled]="!newComment.text.trim()">Add Comment</button>-->
<!--                        </div>-->
<!--                      </form>-->
<!--                    </div>-->
                    <div class="mt-4">
                      <h6>Add a Comment</h6>
                      <form (ngSubmit)="addComment()">
                        <!--        <div class="form-group">-->
                        <!--          <textarea-->
                        <!--            [(ngModel)]="newComment.text"-->
                        <!--            name="commentText"-->
                        <!--            class="form-control"-->
                        <!--            rows="3"-->
                        <!--            placeholder="Write your comment here..."-->
                        <!--            required-->
                        <!--          ></textarea>-->
                        <!--        </div>-->

                        <!--        <div class="form-group mt-3">-->
                        <!--          <label for="commentFile" class="form-label">Attach a file (Optional)</label>-->
                        <!--          <input-->
                        <!--            type="file"-->
                        <!--            class="form-control"-->
                        <!--            id="commentFile"-->
                        <!--            (change)="handleCommentFileUpload($event)"-->
                        <!--          />-->
                        <!--        </div>-->
                        <div class="textarea-container">
                          <textarea placeholder="Type your message..." [(ngModel)]="newComment.text"  name="commentText"></textarea>
                          <button type="button" (click)="openFileUploadModal()" class="attach-icon">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns" width="24px" height="24px" viewBox="-8 0 32 32" version="1.1">

                              <title>attachment</title>
                              <desc>Created with Sketch Beta.</desc>
                              <defs>

                              </defs>
                              <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
                                <g id="Icon-Set-Filled" sketch:type="MSLayerGroup" transform="translate(-214.000000, -153.000000)" fill="#000000">
                                  <path d="M228,157 L228,177 C228,180.313 225.313,183 222,183 C218.687,183 216,180.313 216,177 L216,159 C216,156.791 217.791,155 220,155 C222.209,155 224,156.791 224,159 L224,177 C224,178.104 223.104,179 222,179 C220.896,179 220,178.104 220,177 L220,161 L218,161 L218,177 C218,179.209 219.791,181 222,181 C224.209,181 226,179.209 226,177 L226,159 C226,155.687 223.313,153 220,153 C216.687,153 214,155.687 214,159 L214,178 C214.493,181.945 217.921,185 222,185 C226.079,185 229.507,181.945 230,178 L230,157 L228,157" id="attachment" sketch:type="MSShapeGroup">

                                  </path>
                                </g>
                              </g>
                            </svg>
                          </button>
                        </div>
                        <div class="text-right mt-3">
                          <button type="submit" class="btn btn-primary" [disabled]="!newComment.text.trim()">Add Comment</button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </ng-template>
            </li>
            <li [ngbNavItem]="3">
              <button ngbNavLink>Document ({{task.files.length}})</button>
              <ng-template ngbNavContent>
                <ul class="list-group">
                  <li
                    class="list-group-item d-flex justify-content-between align-items-center"
                    style="cursor: pointer"
                    *ngFor="let file of task.files; let i = index"
                  >
                    <a (click)="previewFile(file)" class="file-link">{{ getFileName(file) }}</a>
                  </li>
                </ul>
              </ng-template>
            </li>
            <li [ngbNavItem]="4">
              <button ngbNavLink>Users ({{task.members.length}})</button>
              <ng-template ngbNavContent>
                <div class="container my-5">
                  <div class="row flex-wrap">
                    @for(user of task.members; track $index){
                      <div class="col-sm-4 card mx-auto" style="width: 18rem;">
                        <img src="assets/images/user/avatar-2.jpg" class="card-img-top" alt="User Image">
                        <div class="card-body text-center">
                          <h5 class="card-title">{{user.user.name}}</h5>
                          <p class="card-text">{{user.role}}</p>
                        </div>
                      </div>
                    }
                  </div>
                </div>
              </ng-template>
            </li>
          </ul>

          <div [ngbNavOutlet]="nav" class="mt-2"></div>
        </div>
      </div>
    </div>
  </div>
</div>
